.calculator {
  max-width: 48rem;
  margin: 0 auto;
  background: #f3f3f3;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  .link {
    color: #6b7280;
    font-size: 1.25rem;
    font-weight: 300;
  }
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1f2937;
  margin: 0;
}

.closeButton {
  color: #6b7280;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  line-height: 0;
}

.closeButton:hover {
  color: #374151;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5rem;
}

.section {
  flex: 1;
}

.label {
  color: #374151;
  font-weight: 500;
  margin-bottom: 1rem;
}

.houseTypeValue,
.residentsValue,
.productValue {
  display: inline-block;
  margin-left: 0.5rem;
  color: #6b7280;
  font-weight: 300;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.infoIcon {
  color: #9ca3af;
}

.button {
  background-color: #1f2937;
  color: white;
  padding: 0.75rem 2rem;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #374151;
}
