.container {
  display: flex;
}

.button {
  padding: 1rem;
  border: none;
  background: #f3f3f3;
  cursor: pointer;
  transition: all 0.2s;
  color: #cacdcc;
  box-shadow:
    2px 0 5px rgba(0, 0, 0, 0.1),
    -2px 0 5px rgba(0, 0, 0, 0.1),
    0 5px 10px rgba(0, 0, 0, 0.05);
}

.button:hover {
  border-color: #d1d5db;
}

.selected {
  color: #4b5563;
  background-color: #fff;
  box-shadow:
    2px 0 5px rgba(0, 0, 0, 0.1),
    -2px 0 5px rgba(0, 0, 0, 0.1),
    0 5px 10px rgba(0, 0, 0, 0.25);
}
