.container {
  display: flex;
}

.button {
  padding: 1rem;
  border: none;
  background: #f7f7f7;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow:
    2px 0 5px rgba(0, 0, 0, 0.1),
    -2px 0 5px rgba(0, 0, 0, 0.1),
    0 5px 10px rgba(0, 0, 0, 0.15);
}

.button:hover {
  border-color: #d1d5db;
}

.selected {
  background-color: #ffffff;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 1rem;
  height: 1rem;
  color: #4b5563;
  margin-left: -0.25rem;
}
